@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.app {
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  font-family: 'Roboto', sans-serif;
  
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgba(95, 95, 95, 0.3);
  min-height: 8vh;
  color: white;
}

.menu-left:hover {
  cursor: pointer;
}

.menu-right:hover {
  background-color:rgba(95, 95, 95, 0.5);
  cursor: pointer;
  font-size: 110%;
  transition: 0.25s;
}

.menu-left {
  float: left;
  display: block;
  line-height: 8vh;
  padding: 0 20px;
}

.menu-right {
  float: right;
  display: block;
  line-height: 8vh;
  padding: 0 20px;
}

.content {
  font-size: calc(20px + 2vmin);
  color: white;
}

.title {
  z-index: 1;
  padding-left: 5vw;
}

.logo {
  z-index: 0;
}

.ripple {
  position: absolute;
  top: 50vh;
  left: 50vw;
  background-color: rgba(255, 255, 255, 0.1);
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  animation: background-move infinite 6s linear;
}

.content-logo {
  position: absolute;
  top: calc(50vh - 100px);
  left: calc(50vw - 100px);
  width: 200px;
  height: 200px;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes background-move {
  0% {
    box-shadow: 0 0 0 0rem rgba(255, 255, 255, 0.1)
  }
  100% {
    box-shadow: 0 0 0 60rem rgba(255, 255, 255, 0)
  }
}


@media(max-width: 768px) {

}